form{
  background: rgb(28, 28, 26);
  margin-bottom: 39vw;
  position: relative;
  z-index: 30;
}

  
@media screen and (max-width: 480px) {form{
  margin-bottom: 45vw;
}}

.con-section{
    display: flex;
    width: 83%;
    margin: auto;
    gap: 9vw;
    margin-bottom: 5vw;
    margin-top: 10vw;
    
  }
  
  @media screen and (max-width: 480px) {.con-section{
    display: flex;
    gap: 9vw;
    margin-bottom: 15vw;
    flex-direction: column;
    align-items: center;
    width: 83%;
   
  }}
  
  .con-section-inner{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  @media screen and (max-width: 480px) {.con-section-inner{
    width: 93%;
  }}
  


  
  
  .sub-heading-contact{
    font-family: fk-screamer;
    text-align: left;
    font-size: 5.7vw;
    color: #ead108;
    margin-bottom: 1vw;
  }
  
  
  @media screen and (max-width: 480px) {.sub-heading-contact{
    font-size: 12vw;
  }}
  
  
  
  .con-label{
    display: flex;
    flex-direction: column;
    font-family: poppins;
    font-weight: 500;
    font-size: 1vw;
    color: white;
  
  }
  
  @media screen and (max-width: 480px) {.con-label{
    font-size: 2.5vw;
    margin-top: 2vw;
  }}
  
  
  
  .con-input{
    padding: 0.5vw 0.5vw;
    font-family: fk-grostek;
    border: 0.15vw solid rgb(70, 70, 70);
    border-radius: 0.7vw;
    outline: none;
    margin-bottom: 1.5vw;
    font-size: 1vw;
    color: #e2e2e2;
    margin-top: 0.5vw;
    background-color: #363636;
  }
  @media screen and (max-width: 480px) {.con-input{
    font-size: 2.5vw;
    padding: 1.3vw 1.3vw;
    border-radius: 1.2vw;
    margin-bottom: 2.5vw;
    color: #e2e2e2;
  }}
  
 

  .con-input:focus:invalid{
    border: 0.15vw solid #fdabab;
  }

  .con-input:focus:valid{
    border: 0.15vw solid #ead108;
    outline: none;
  }

  
  .con-textarea{
    font-family: fk-grostek;
    border: 0.15vw solid rgb(70, 70, 70);
    border-radius: 0.7vw;
    outline: none;
    padding: 0.5vw 0.5vw;
    resize: none;
    font-size: 1vw;
    height: 16vw;
    color: #e2e2e2;
    margin-top: 0.5vw;
    background-color: #363636;
  }
  
  
  @media screen and (max-width: 480px) {.con-textarea{
    font-size: 2.5vw;
    padding: 1.3vw 1.3vw;
    border-radius: 1.2vw;
    margin-bottom: 1vw;
    color: #e2e2e2;
    height: 28vw;
  }}
  
  
  
  .con-textarea:focus{
    border: 0.15vw solid #ead108;
    outline: none;
  }
  .con-textarea:focus:invalid{
    border: 0.15vw solid #fdabab;
    outline: none;
  }

  
  
  .con-btn{
    outline: none;
    border: none;
    background-color: #ead108;
    color: white;
    padding: 0.7vw 1.1vw;
    width: 37%;
    margin-top: 1.1vw;
    border-radius: 0.7vw;
    font-family: poppins;
    font-weight: 500;
    font-size: 1.2vw;
    cursor: pointer;
    border: 0.15vw solid #ead108;
  }
  
  
  @media screen and (max-width: 480px) {.con-btn{
    padding: 2vw 2.4vw;
    font-size: 2.2vw;
    border-radius: 1vw;
    margin-top: 0.9vw;
  }}
  
  .con-btn:hover{
    background-color: white;
    border: 0.15vw solid #ead108;
    color: #ead108;
  }
  

  .con-btn-success{
    outline: none;
    border: none;
    background-color: #ead108;
    color: white;
    padding: 0.9vw 1.9vw;
    width: 32%;
    margin-top: 1.1vw;
    border-radius: 0.7vw;
    font-family: poppins;
    font-size: 1vw;
    cursor: pointer;
    border: 0.15vw solid #ead108;
    cursor: default;
    pointer-events: none;
  }
  
  
  @media screen and (max-width: 480px) {.con-btn-success{
    padding: 2vw 2.4vw;
    font-size: 2.2vw;
    border-radius: 1vw;
    margin-top: 0.9vw;
  }}


  .con-btn-success:hover{

    border: 0.15vw solid #ead108;
    color: #ffffff;
  }




  
  .con-section-inner-2{
    width: 50%;
  }
  
  @media screen and (max-width: 480px) {.con-section-inner-2{
    width: 93%;
  }}
  
  
  
  .con-social-div{
    /* background-color: #ffd42d; */
    height: 100%;
    width: 100%;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
  
  }
  
  
  @media screen and (max-width: 480px) {.con-social-div{
    display: flex;
    flex-direction: row-reverse;
    height: 53vw;
    width: 100%;
  }}
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  
  
  
  .con-social-div-inner{
    display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
  }
  
  @media screen and (max-width: 480px) {.con-social-div-inner {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
  }}
  
  .con-social-h1{
  margin-bottom: 2vw;
    color: #ead108;
    font-family: fk-screamer;
    font-size: 5.5vw;
    text-align: left !important;
    /* align-items: flex-start !important;
    align-self: flex-start !important; */
  }
  
  @media screen and (max-width: 480px) {.con-social-h1{
    font-size: 11vw;
    padding: 1vw 0;
  }}
  
  
  .con-social-p{
    color: #ffffff;
    font-family: fk-grostek;
    font-size: 1.5vw;
    font-weight: bold;
  }
  
  @media screen and (max-width: 480px) {.con-social-p{
    font-size: 3.7vw;
    padding: 4vw 0;
    display: contents;
  }}
  


  .con-social-img{
    width: 16vw;
    height: 16vw;
    padding-top: 2vw;
  }
  
  @media screen and (max-width: 480px) {.con-social-img{
  margin-right: 0vw;
  width: 25vw;
  height: 25vw;
  margin-top: 2vw;
  }}
  

  .success-msg{
    color: #ffffff;
    font-family: fk-grostek;
    font-size: 1vw;
    margin-top: 1vw;
  }
  @media screen and (max-width: 480px) {.success-msg{
    font-size: 2.3vw;
    margin-top: 1vw;
  }}


  /* cursor */
  .cursor-CF{
    background-color:#ffd42d;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    pointer-events: none;
  }


 #form{
    cursor: none;
  }

  #form button,input,label,textarea{
    cursor: none !important;
  }

  @media screen and (max-width: 480px) {
    .cursor-CF{
  display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .cursor-CF{
  display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .cursor-CF{
  display: none;
    }
  }



